@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional custom styles below */
html, body, #root {
  height: 100%;
}
body {
  background: linear-gradient(180deg,#0f172a,#071028);
  color: #e6eef8;
}
